body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    backdrop-filter: blur(10px); 
    z-index: 1000;
}

.main-header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 15px 30px 15px 15px;    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}
.main-header nav ul li a:hover {
    color: #f39c12;
}


.info-section, .movie-section, .top-movies-section, .form-section{
    margin: 30px 250px;
    padding:40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow with slight blur */
    border: none;
    h2 {
        color:#333;
    }
}
.info-section{
    margin-top: 100px;
}
.cover-img{
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
}

.movie-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    th, td {
        padding: 10px;
        border-bottom: 1px solid #e7e7e7;
        text-align: center;
        a{
            text-decoration: none;
        }
    }
    th{
        background-color: #f2f2f2;
    }
}

.top-movies-section li{
    padding :5px;
}

.form-section{
    /* TODO: Explain flex */
    form {
        display:flex;
        flex-direction:column;
    };
    input, select, bottom {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    };
    label{
        margin:10px 5px;
    }
    button{
        background-color: #333;
        color: #fff;
        border: none;
        padding: 12px;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 600;
    }
    button:hover{
        background-color: #555;
        transition: background-color 0.3s;
    }
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0;
}